.mobile_applications-section3__blackBg--wrapper {
  background-color: var(--backgroundBlack);
  padding: 25px 0px;
}

.mobile_applications-section3__blackBg--wrapper div {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  justify-content: flex-start;
}
.mobile_applications-section3__blackBg--wrapper div img {
  width: 50%;
  object-fit: contain;
}
.mobile_applications-section3__blackBg--wrapper div h1 {
  width: 50%;
  font-size: 4rem;
  color: white;
  text-align: left;
  align-self: center;
  padding: 0px 15px;
}
@media (max-width: 1200px) {
  .mobile_applications-section3__blackBg--wrapper div h1 {
    font-size: 3rem;
  }
}
@media (max-width: 992px) {
  .mobile_applications-section3__blackBg--wrapper div h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .mobile_applications-section3__blackBg--wrapper div {
    width: 65%;
  }
  .mobile_applications-section3__blackBg--wrapper div img {
    width: 100%;
  }
  .mobile_applications-section3__blackBg--wrapper div h1 {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .mobile_applications-section3__blackBg--wrapper div {
    width: 95%;
  }

  .mobile_applications-section3__blackBg--wrapper div h1 {
    font-size: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 400px) {
  .mobile_applications-section3__blackBg--wrapper div {
    width: 100%;
  }

  .mobile_applications-section3__blackBg--wrapper div h1 {
    font-size: 1.5rem;
  }
}
