.homePage_section1--wrapper {
  background-color: var(--backgroundBlack);
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0%;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.section1--bg-images__container {
  position: absolute;
  right: 10%;
  z-index: 5;
  top: 0px;
  bottom: 0px;
  margin: auto 0px;
  height: 500px;
  width: 600px;
}
.section1--bgImage {
  background: url("../../../assets/img/slider/Amazing-web-development-company-min.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
.section1--bgImage--frame-1 {
  background: url("../../../assets/img/shape/sc1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transform: translateX(20px);
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
}
.section1--bgImage--frame-2 {
  background: url("../../../assets/img/shape/sc2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transform: translateX(10px);
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
}
.section1--bgImage2 {
  height: 300px;
  width: 400px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  z-index: 0;
  background: url("../../../assets/img/shape/s-shape2.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}
.homePage-section1--content {
  display: flex;
  justify-content: center;
  width: 65%;
  height: 100%;
  align-items: center;
  margin: auto 0px;
  align-self: center;
  z-index: 6;
}
.section1-leftSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 550px;
}
.random-shape-animation {
  position: absolute;
  top: 10%;
  left: 5%;
  transition: 100ms ease-in;
}
.random-shape-animation-3 {
  position: absolute;
  top: 4%;
  right: 30%;
  transition: 100ms ease-in;
}
.random-shape-animation-2 {
  position: absolute;
  bottom: 2%;
  left: 45%;
  /* transition: 300ms ease-in; */
  z-index: 10;
}
.section1--navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 60px 10px 20px 10px;
  animation: navBarSection1 3s ease-in infinite forwards normal;
}
.section1--navbar a {
  color: white;
  margin: 0px 20px;
  text-decoration: none;
  font-size: 1.2rem;
}
.section1--navbar__separator {
  width: 1px;
  height: 1rem;
  background-color: white;
}
.section1--tagLine {
  color: white;
  padding: 0 20px;
  height: 50%;
  margin: 20px 0px;
  animation: taglineAnimation 3s ease-in infinite forwards normal;
}

.section1--tagLine h1 {
  font-size: 4rem;
  text-align: left;
  line-height: 4.5rem;
  width: 80%;
  font-weight: bold;
}
.section1--navbar a:hover {
  color: white;
  text-decoration: none;
}

.section1--CTA {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
  padding: 0 20px;
  animation: section1CTA 6s ease-in infinite forwards normal;
}
.section1--CTA button {
  margin: 0 10px;
}

/* MEDIA QUERIES STARTS HERE */
@media (max-width: 1200px) {
  /* Section 1 CSS */
  .homePage_section1--wrapper {
    height: 120vh;
  }
  .homePage-section1--content {
    margin: auto;
    align-items: flex-start;
  }
  .section1-leftSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 550px;
    margin-top: 0px;
  }
  .section1--bg-images__container {
    right: 0%;
    left: 0%;
    top: 400px;
    margin: auto auto;
    height: 600px;
    width: 700px;
  }
}
@media (max-width: 992px) {
  /* Section 1 CSS */
  .homePage_section1--content {
    grid-template-columns: 1fr;
  }
  .section1--tagLine h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .section1--navbar a {
    font-size: 1rem;
    z-index: 10;
  }
  .random-shape-animation-3 {
    right: 10%;
  }
}
@media (max-width: 768px) {
  /* Section 1CSS */
  .homePage_section1--wrapper {
    height: 100vh;
  }
  .homePage-section1--content {
    width: 85%;
  }

  .section1--navbar {
    margin: 20px 10px;
  }
  .section1--tagLine {
    height: auto;
  }

  .section1--tagLine h1 {
    font-size: 3.5rem;
    line-height: 3.75rem;
    width: 90%;
  }
  .section1--navbar a {
    margin: 0px 8px;
  }
  .section1--bg-images__container {
    bottom: 0px;
    height: 400px;
    width: 500px;
  }
}
@media (max-width: 576px) {
  .homePage-section1--content {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  .section1-leftSection {
    justify-content: flex-start;
  }

  .section1--tagLine h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    width: 100%;
  }
  .section1--navbar a {
    font-size: 0.9rem;
  }
  .random-shape-animation {
    display: none;
  }
  .random-shape-animation-3 {
    display: none;
  }
  .section1--bg-images__container {
    bottom: 15%;
    height: 400px;
    width: 500px;
  }
  .section1--CTA {
    margin: 0px 0px;
    padding: 0 0px;
  }
  .section1--CTA button {
    width: 130px;
    height: 40px;
    margin: 0 10px;
  }
  .section1--CTA button .custom-button_matter {
    font-size: 0.8rem;
  }
  .section1--CTA button .custom-button_icon {
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
}
@media (min-width: 320px) and (max-width: 499px) {
  .homePage_section1--wrapper {
    height: 70vh;
  }
  .section1--bg-images__container {
    bottom: 0px;
    height: 274px;
    width: 374px;
  }
  .section1--navbar a {
    font-size: 0.8rem;
  }
  .section1--CTA button {
    width: 150px;
  }
  .section1--CTA button .custom-button_matter {
    font-size: 0.7rem;
  }
}
/* @media (max-width: 380px) {
  .section1--navbar a {
    font-size: 0.9rem;
  }
} */
@keyframes taglineAnimation {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  20% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes navBarSection1 {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  40% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes section1CTA {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  20% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
