.footer_main-content--wrapper {
  background-color: #0c1623;
  width: 100%;
}
.footer_main--content {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  margin: auto;
  padding: 30px 0px;
  justify-content: space-between;
  align-items: flex-start;
}
.footer_main--content__Services,
.footer_main--content__ContactUs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 45%;
}
.footer_main--content__Services h4 {
  width: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
}
.footer_main--content__ContactUs h4 {
  width: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
}
.footer_servcies_main--div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 10px;
}
.footer_servcies_main--div div {
  width: 45%;
}
.footer_servcies_main--div div a,
.footer_main--content__ContactUs p,
.footer_main--content__ContactUs a {
  display: block;
  color: #9eaab9;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: var(--crimsonFont);
  margin: 15px 0px;
}
.footer_servcies_main--div div a:hover,
.footer_main--content__ContactUs a:hover {
  color: white;
}

.footer_contactUs--icon {
  color: var(--lightPink);
  margin: 0px 10px 0px 0px;
}

@media (max-width: 1200px) {
  .footer_servcies_main--div div a,
  .footer_main--content__ContactUs p,
  .footer_main--content__ContactUs a {
    font-size: 1.1rem;
    margin: 10px 0px;
  }
}

@media (max-width: 992px) {
  .footer_main--content {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .footer_main--content {
    width: 100%;
    padding: 20px 10px;
  }
  .footer_main--content__Services,
  .footer_main--content__ContactUs {
    width: 49%;
  }
}

@media (max-width: 568px) {
  .footer_main--content__Services,
  .footer_main--content__ContactUs {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .footer_servcies_main--div div a {
    width: 100%;
    text-align: center;
  }
  .footer_main--content__ContactUs h4 {
    text-align: left;
    padding: 0px 20px;
  }
  .footer_main--content__ContactUs p,
  .footer_main--content__ContactUs a {
    text-align: left;
    width: 100%;
    padding: 0px 20px;
  }
}

@media (min-width: 320px) and (max-width: 400px) {
  .footer_servcies_main--div {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer_servcies_main--div div {
    width: 95%;
  }
}
