.header-wrapper {
  width: 100%;
  height: 140px;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 15;
}

/* Company Info CSS */
.header-companyinfo {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 5px;
  background-color: white;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-companyinfo span {
  color: var(--black);
  font-size: 14px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
.header-icon {
  color: var(--lightPink);
  margin: 0 5px;
}
.header-companyinfo-child1 {
  display: flex;
  justify-content: flex-start;
}
.header-companyinfo--email {
  margin: 0px 10px 0px 0px;
}
.header-companyinfo--address {
  margin: 0px 10px 0px 0px;
}

/* Header Nav CSS starts */
.header-nav {
  height: 100px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--orange);
}
.header-nav--wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
  width: 90%;
}
.header-brandname {
  color: white;
  font-size: 1.5rem;
  margin: 0px 10px;
  font-weight: bold;
}
.header-navItems {
  display: flex;
  justify-content: space-evenly;
  margin: 0px 0px 0px 20px;
}
.header-navItems a {
  color: white;
  text-decoration: none;
  margin: 0px 8px;
  font-weight: bold;
  font-size: 1rem;
}
.header-navItems a:hover {
  color: white;
}
.toggle-Menu {
  width: 10%;
  color: white;
}
.bars-icon {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  transition: 500ms ease;
}
.bars-icon:hover {
  background-color: black;
}
.toggleHeader--wrapper {
  position: absolute;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 15;
  top: 0%;
  left: 0%;
  width: 100vw;
}
/* This toggler will get activated only when screen size is above 768px */

.toggleHeader-content {
  position: absolute;
  top: 0%;
  width: 30vw;
  height: 100vh;
  right: 0%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 20px;
  z-index: 20;
}

.toggleHeader-content__close {
  color: var(--lightPink);
  text-align: left;
  padding: 10px;
  margin: 5px 0px;
  font-size: 24px;
  cursor: pointer;
}
.toggleHeader-content__main {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.toggleHeader-content__main > h3 {
  text-align: center;
}
.toggleHeader-content__main > p {
  font-size: 14px;
  font-family: "Oswald", sans-serif;
}
.toggle_header--md__wrapper {
  display: none;
}
@media (max-width: 768px) {
  .header-navItems {
    display: none;
  }
  .toggleHeader-content {
    display: none;
  }
  .toggle_header--md__wrapper {
    position: absolute;
    display: block;
    width: 50vw;
    height: 100vh;
    top: 0%;
    right: 0%;
    background-color: var(--backgroundBlack);
    padding: 0px 15px;
    z-index: 20;
  }
  .toggle_header--md--title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px;
    width: 100%;
  }
  .toggle_header--md--title h1 {
    font-size: 1.5rem;
    color: white;
  }
  .toggle_header--md--navItems {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .toggle_header--md--navItems a {
    font-size: 1rem;
    color: white;

    margin: 20px 0px;
  }
  .toggle_header--md--navItems a:hover {
    color: white;
    cursor: pointer;
  }
  .header-companyinfo--address {
    display: none;
  }
  .toggle-header--navItems_separator {
    width: 80%;
    height: 1px;
    background-color: rgba(125, 125, 125, 0.6);
    margin: 5px 0px;
  }
}

@media (max-width: 576px) {
  .toggle_header--md__wrapper {
    width: 100vw;
    padding: 0px 20px;
  }
}
