.linear-counterUp--wrapper {
  width: 90%;
}
.linear--title {
  display: flex;
  color: white;
  font-size: 1.2rem;
  margin: 0px 0px 8px 0px;
  justify-content: space-between;
}
.linear-100__scale {
  height: 3px;
  background-color: rgba(125, 125, 125, 0.6);
  width: 100%;
  margin: 0px 0px 8px 0px;
}
