/* Oswald font import */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/* Crimson Font Style */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}
*a {
  text-decoration: none;
}

:root {
  --orange: #ff4a17;
  --lightPink: #ffaea1;
  --backgroundBlack: #121e2d;
  --black: #0d1723;
  --whiteSmoke: #eef2f5;
  --lightGray: #5f6873;
  --crimsonFont: "Crimson Text", serif;
}
