.homePage_section1--wrapper {
  background-color: var(--backgroundBlack);
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0%;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.random-shape-animation {
  position: absolute;
  top: 5%;
  left: 5%;
  transition: 100ms ease-in;
}
.random-shape-animation-2 {
  position: absolute;
  bottom: 5%;
  left: 15%;
  transition: 100ms ease-in;
  z-index: 10;
}
.section1--navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 60px 10px 20px 10px;
  animation: navBarSection1 3s ease-in infinite forwards normal;
}
.section1--navbar a {
  color: white;
  margin: 0px 20px;
  text-decoration: none;
}
.section1--tagLine {
  color: white;
  padding: 0 20px;
  height: 50%;
  margin: 20px 0px;
  animation: taglineAnimation 3s ease-in infinite forwards normal;
}

.section1--tagLine h1 {
  font-size: 4rem;
  text-align: left;
  line-height: 4.5rem;
  width: 80%;
  font-weight: bold;
}
.section1--navbar a:hover {
  color: white;
  text-decoration: none;
}

.section1--CTA {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
  padding: 0 20px;
  animation: section1CTA 6s ease-in infinite forwards normal;
}
.section1--CTA button {
  margin: 0 10px;
}
.section1--image {
  width: 100%;
  height: 500px;
  text-align: center;
  position: relative;
}

.section1--image__actualImage {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 500px;
  transform: scale(0.9);
  display: block;
  object-fit: contain;
}
.section1--image__bgImage {
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: 200px;
  object-fit: contain;
}

/* SECTION 2 CSS STARTS HERE */
.homePage_section2--wrapper {
  width: 100%;
  background-color: var(--whiteSmoke);
  margin: 20px 0px;
  padding: 20px 0px;
}
.section-2_features--wrapper {
  display: flex;
  width: 85%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
}
.section2-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  column-gap: 20px;
  row-gap: 40px;
  width: 800px;
  margin: 0px 60px 0px 0px;
}
.section2-content__component {
  padding: 5px;
  transform: translateY(100px);
  transition: 500ms ease-in;
}
.bring-to-normal-transform {
  transform: translateY(0px);
}
.bg-white {
  background-color: white;
}
.section2-content__component-header {
  display: flex;
  justify-content: flex-start;
}
.content__component-logo {
  width: 40px;
  height: 40px;
  background-color: var(--lightPink);
  position: relative;
}
.content__component-logo > .svg-inline--fa {
  position: absolute;
  font-size: 30px;
  top: 5px;
  width: 30px;
  height: 30px;
  left: 5px;
  margin: 0%;
  padding: 0%;
}
.content__component-heading {
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
}
.section2-content__component > p {
  font-size: 1rem;
  color: var(--lightGray);
  font-family: var(--crimsonFont);
  text-align: justify;
}

.section2-coreFeatures {
  margin: 0px 0px 0px 60px;
  width: 400px;
  position: relative;
  height: 440px;
  padding: 40px 10px;
}
.section2-coreFeatures > h2 {
  text-align: left;
  position: absolute;
  top: 8%;
  left: 0%;
  font-weight: bold;
  font-family: var(--crimsonFont);
}
.section2-coreFeatures > h1 {
  text-align: left;
  position: absolute;
  top: 20%;
  left: 0%;
  font-weight: bold;
}
.section2-coreFeatures-separator {
  height: 3px;
  width: 60%;
  position: absolute;
  top: 40%;
  left: 0%;
  background-color: var(--lightPink);
}
.section2-coreFeatures > button {
  position: absolute;
  top: 50%;
  left: 10%;
  background-color: white;
  width: 200px;
}
.section2-coreFeatures > button .custom-button_matter {
  font-size: 1.2rem;
}
.section-2--image {
  width: 100%;
  object-fit: contain;
}

/* Section 3 CSS starts */
.homePage_section3--wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
}
.section3-content {
  padding: 0px 20px;
}

.section3-content > h3 {
  margin: 20px 0px;
  padding: 0px 10px;
  text-align: left;
  font-family: var(--crimsonFont);
  font-weight: bold;
}
.section3-content > h1 {
  margin: 20px 0px;
  padding: 0px 10px;
  text-align: left;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4.74rem;
}
.section3-separator {
  height: 3px;
  background-color: var(--lightPink);
  width: 40%;
  margin: 20px 0px;
}
.section3-content > p {
  margin: 20px 0px;

  padding: 0px 10px;
  width: 75%;
  text-align: left;
  font-size: 1.1rem;
  color: var(--lightGray);
  font-family: var(--crimsonFont);
}
.section3-content__ourmission {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(600px auto);
  column-gap: 20px;
  width: 90%;
  margin: 0px auto;
}
.section3-content__ourmission h5 {
  font-weight: bold;
}
.section3-content__ourmission p {
  font-family: var(--crimsonFont);
  color: var(--lightGray);
  font-size: 1rem;
  text-align: justify;
}
.section3-content button {
  width: 30%;
}
.section3-content button .custom-button_matter {
  font-size: 1.2rem;
}
.section3-images {
  position: relative;
  height: 600px;
}
.section3-images__expert1 {
  position: absolute;
  top: 0%;
  left: 0%;
  margin: 0px 0px 0px -20px;
  height: 250px;
  object-fit: cover;
}
.section3-images__expert2 {
  position: absolute;
  bottom: 0%;
  left: 0%;
  margin: 0px auto 0px auto;
  height: 375px;
  object-fit: cover;
  border: 10px solid white;
}

/* SECTION 4 CSS Starts here */
.homePage_section4--wrapper {
  width: 100%;
  background-color: var(--whiteSmoke);
  margin: 20px 0px;
  padding: 20px 0px;
}
.section4-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(400px, auto);
  gap: 30px;
  background-color: var(--whiteSmoke);
  padding: 10px;
  width: 85%;
  margin: 0px auto;
  align-items: center;
}
.circle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 400px;
}
.circle-container-flex-item1_3 {
  width: 300px;
  height: 300px;
  position: relative;
}
.circle-container-separator {
  height: 200px;
  width: 1%;
  background-color: rgba(125, 125, 125, 0.6);
}
.circle-container__section {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50px;
  left: 50px;
}
.section4-circle-svg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 200px;
  height: 200px;
  right: 0%;
  bottom: 0%;
  margin: auto;
}
.countUpElement {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  font-size: 3rem;
}
.circle-container-flex-item1_3 h3 {
  position: absolute;
  bottom: 0%;
  z-index: 10;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.section-4__founderMessage h1 {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 3rem;
  width: 100%;
  text-align: left;
  min-width: 500px;
}
.section-4__founderMessage h4 {
  font-weight: bold;
  width: 100%;
  text-align: left;
  margin: 20px 0px;
}
.section-4__founderMessage h5 {
  width: 100%;
  text-align: left;
  margin: 20px 0px;
  color: var(--lightPink);
  font-weight: bold;
}
random-shape-animation-2
/* Section 5 CSS starts here */
.homePage_section5--wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(416px auto));
  grid-template-rows: repeat(3, minmax(416px auto));
  transition: 500ms ease-in;
  width: 100vw;
  gap: 0px;
  margin: 80px 0px;
  overflow-x: hidden;
}
.homePage_section5--wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 500ms ease-in;
}
.restaurantApp-rowspan {
  grid-row: 1/3;
  grid-column: 2/2;
}
.furnitureEcommerce-col-span {
  grid-column: 3/5;
  grid-row: 1/3;
}
.fashionClothing-col-span {
  grid-column: 1/3;
}

/* Section 6 CSS starts here */
.homePage_section6--wrapper {
  width: 100%;
  margin: 80px 0px;
}
.section6_content {
  width: 85%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.section6-content__leftsection,
.section6-content__rightsection {
  width: 600px;
  height: 550px;
  margin: 0px 10px;
}
.section6-content__leftsection > img {
  width: 100%;
  object-fit: contain;
}
.faq-questions__div {
  width: 530px;
  min-height: 350px;
  background: url("../../assets/img/misc/fqbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-evenly;
  align-items: center;
}
.faq-questions__actual-question-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 470px;
  background-color: white;
}
.faq__actual-question {
  font-weight: bold;
  font-size: 1.1rem;
}
.faq__toggle-button {
  width: 50px;
  height: 50px;
  background-color: black;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}
.faq_hiddenDescription {
  max-height: 0px;
  transition: 200ms ease-in;
  overflow: hidden;
}
.show_hidden-faq-desscription {
  max-height: 100px;
}
/* MEDIA QUERIES STARTS HERE */
@media (max-width: 1200px) {
  .section4-content {
    width: 100%;
  }
  .circle-container-separator {
    display: none;
  }
}
@media (max-width: 992px) {
  /*Section 3 CSS  */
  .homePage_section3--wrapper {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  /* SECTION 4 CSS HERE */
  .section4-content {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(300px, auto);
    row-gap: 20px;
  }
  .circle-container-separator {
    display: inline;
  }
  .section-4__founderMessage h5 {
    padding: 0 10px;
  }
}
@media (max-width: 768px) {
  .section1--navbar {
    margin: 20px 10px;
  }

  .section1--tagLine h1 {
    font-size: 3.5rem;
    text-align: left;
    line-height: 3.75rem;
    width: 100%;
  }
  .section1--navbar a {
    margin: 0px 8px;
  }
  .section1--image__bgImage {
    height: 300px;
  }
  .section1--image__actualImage {
    height: 400px;
  }

  /* Section 2 CSS */
  .section-2_features--wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
  }
  .section2-content {
    margin: 0;
    padding: 15px;
    row-gap: 15px;
  }

  .section2-coreFeatures {
    width: 400px;
    position: relative;
    height: 250px;
    padding: 10px;
  }
  .section2-content__component {
    background-color: white;
  }

  /* Section 5 CSS */
  .homePage_section5--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    gap: 0px;
    transition: 500ms ease-in;
  }
  .restaurantApp-rowspan {
    grid-row: 1/3;
  }
  .furnitureEcommerce-col-span {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  .fashionClothing-col-span {
    grid-column: 2/2;
  }
}
@media (max-width: 576px) {
  .section2-content {
    padding: 15px;
    grid-template-columns: 1fr;
  }

  /* Section 3 CSS */

  .section3-content__ourmission {
    grid-template-columns: 1fr;
  }
}

@keyframes taglineAnimation {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  20% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes navBarSection1 {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  40% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes section1CTA {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  20% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
